<div class="room-filters" data-aos="fade-up" data-aos-delay="200">
  <div class="row g-3 align-items-center">
    <div class="col-lg-3 col-md-6">
      <label class="form-label">Price Range</label>
      <select class="form-select">
        <option>All Prices</option>
        <option>$100 - $200</option>
        <option>$200 - $350</option>
        <option>$350+</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-6">
      <label class="form-label">Guest Capacity</label>
      <select class="form-select">
        <option>Any Capacity</option>
        <option>1-2 Guests</option>
        <option>3-4 Guests</option>
        <option>5+ Guests</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-6">
      <label class="form-label">View Type</label>
      <select class="form-select">
        <option>All Views</option>
        <option>Ocean View</option>
        <option>City View</option>
        <option>Garden View</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-6">
      <label class="form-label">Sort By</label>
      <select class="form-select">
        <option>Popularity</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
        <option>Room Size</option>
      </select>
    </div>
  </div>
</div>